.image {
	object-fit: cover;
	width: clamp(60%, 900px, 90%);
}
.image-container {
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 1s;
}

.image-translate {
	translate: 0px -1000px;
}
