@import "../../index.scss";

.logo {
	max-width: 4rem;
	border-radius: 100%;
}

.cart-counter {
	background-color: rgb(0, 190, 0);
	color: white;
	text-align: center;
	width: 1.4rem;
	border-radius: 100%;
	position: absolute;
	top: 0px;
}

.icon {
	transition: 250ms ease-in-out;
}

.icon:hover {
	color: #373f47;
}
