@import "~bootstrap/scss/bootstrap";

.colour-rotate {
	animation: color-rotate 2s;
	animation-iteration-count: infinite;
}

html,
body {
	font-family: trajan-pro-3, serif;
	font-style: normal;
	font-weight: 500;
	background-image: url("../public/image0.jpeg");
	background-size: 50%;
	padding: 0px;
	margin: 0px;
}

.text-deco {
	text-decoration: none;
}

.rm-list-style {
	list-style-type: none;
} 

.translator {
	transition: 500ms;
}

.show-border {
	border: black solid 2px;
}

.translator:hover {
	translate: 0px -5px;
	transition: 500ms;
}

.rm-button-style {
	background-color: transparent;
	border: none;
	padding: 0px;
}

@keyframes color-rotate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
